 <style type="text/css">
  html { 
  background: #ffffff; 
  }
  body {
    background: #ffffff;
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
  }
  a {
    color: blue;
  }

 
  }
 </style>